*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 12vh;
    background-color: black;
    position: fixed;
    z-index: 3;
}
header img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 3px solid white;
}
header #btn_list{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
nav{
    width: 93%;
    height: 0vh;
    position: fixed;
    top: 12vh;
    left: 10px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    overflow-y: hidden;
    z-index: 3;
}
nav button{
    cursor: pointer;
    width: 100%;
    height: 46px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    text-align: left;
    padding-left: 10px;
    color: white;
}
.home{
    width: 100%;
    height: 350vh;
    position: absolute;
    top: 12vh;
    background-color: black;
}
.home .div_main_img{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-image: url(main_img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home .div_logo_img{
    width: 100%;
    height: 40vh;
    background-color: black;
    justify-content: center;
    text-align: center;
}
.home .div_logo_img img{
    width: 60%;
    height: 30vh;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: add_border_logo_img_main 3s ease infinite;
    border: 2px solid black;
}
.home .div_logo_img h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    translate: 0% 50%;
}
.home .mission{
    width: 100%;
    height: 55vh;
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.home .mission pre{
    translate: -10% 30%;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.home .btn_mission{
    width: 40%;
    height: 30vh;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.home button{
    cursor: pointer;
    width: 100%;
    height: 5vh;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: .4s;
}
.home button:focus{
    border-color: wite;
}
.home button:hover{
    border-color: white;
}
.home #add_paragraph_to_pre{
    width: 70%;
    background-color: black;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    scale: 1.1 1.1;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto
}
.home .read_more{
    width: 100%;
    height: 40vh;
    background-image: url(12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:30px
}
.home .read_more button{
    width: 50%;
    height: 6vh;
    border-radius: 2px;
    border: none;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 10px 1px #00000051;
    color: black;
    translate: 40% 500%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.home .display_img{
    width: 100%;
    height: 45vh;
    overflow: scroll hidden;
    background-color: black;
    margin-top: 20px;
    display: flex;
}
.home .display_img img{
    width: 95%;
    height: 40vh;
    border-radius: 5px;
    margin: 10px;
}
.home .discription{
    width: 100%;
    height: 70vh;
    background-color: black;
    padding-top: 10px;
}
.home .discription p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 30px;
}
.home .discription #SINCE_2019{
    font-weight: bolder;
}
.home footer{
    width: 100%;
    height: 50vh;
    background-color: black;
    text-align: center;
}
.home footer img{
    width: 150px;
    height: 150px;
}
.home .icon_social_media{
    width: 200px;
    height: 10vh;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.home .icon_social_media i{
    margin: 5px;
}
.home footer p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
@keyframes add_border_logo_img_main {
    0%{border-color:black;}
    25%{border-top-color:white;}
    50%{border-right-color: white;}
    75%{border-bottom-color: white;}
    100%{border-left-color: white;}
}
